[submodule "third_party/nrfx"]
	path = third_party/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "third_party/tinyusb"]
	path = third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
